
.main-grid {
  height: 400px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: aquamarine;
}