h1 {
  color: black;
  text-align: center;
  margin: 20px auto;
}

/* body {
 background-color: #ffff00; 
}*/

.container {
  position: relative;
  /* padding-top: 0px; */
  left: 15%;
  width: 70%;
  height: 700px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.max-container {
  position: relative;
  margin-left: 30px;
}

.mini-container {
  padding-top: 20px;
  margin-left: 20px;
}

.main-grid {
  margin: 40px 0;
  max-height: 540px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;

}

.mini-grid {
  /* padding: 40px 0; */
  margin: 20px 50px;
  height: 120px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.grid, .lesser-grid {
  width: 30px;
  height: 30px;
  border: 1mm groove #f7f7f7;
  
}

.score-head {
  margin: 20px 40px;

}

.startpause-button {
  margin: 20px 40px;
}

.final {
  border: none;
}

.tetromino, .mini-tetromino {
  background-color: aquamarine;

}

